.login {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh -200px);
}

.login__container{
    background-color:  rgba(255, 255, 255, 0.1);
    border:2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
    font-size: 14px;
}

.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}




/*Si no te sale blanco las letras podemos usar un 
::placehorder{color: white}*/

.button__index{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 0px 10px;
}


.login__container--social-media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img{
    width: 30px;
    margin-right: 10px;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
    color: white !important;
    text-decoration: none !important;
}