.categories__tittle {
    background:#8f57fd;
    color: white;
    font-size: 21px;
    position: absolute;
    margin: 5px;
    padding-left: 30px;
    width: 100%;
    margin: 10px 20px;
    border-radius: 10px;
    width: 100%;
}