.footer {
    background-color: #ab88ff;
    display: flex;
    align-items: center;
    height:100px;
    width: 100%;
    padding-left: 30px;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
